@import "variables.scss";


/** Navigation Style **/
nav {
	background-color: $cardBlue !important;
	height: auto;
	border-bottom-style: solid;
	border-width: 8px;
	border-color: $grey;
}

/** Link Style **/
.nav-link {
	font-family: $mainFont;
	font-size: 16px;
	margin-left: 0px !important;
	color: $navy !important; /* To override bootstrap */
}

/** Header Style **/
header {
	padding: 20px 0px;
}

/** Navbar Brand (Name) Style **/
/** UL Style **/
.navigation {
	margin-left: auto;
	margin-right: 20px;
}

.navbar-brand {
	background-color: transparent;
	border: none;
}
#navbar-brand {
	font-family: $fancyFont;
	font-size: 28px;
	color: $navy !important;

	padding-top: 15px;
	margin-left: 20px;
}

/** Navbar Button Margin **/
.navbar-toggler {
	margin-right: 20px;
}
/** Navbar Collapsed Menu **/
.navbar-collapse {
	text-align: center;
	padding-top: 20px;
}
/** Current Link Style **/
.active {
	font-weight: bold;
	font-size: 18px;
	color: $babyBlue !important;
}

/****** SELECTOR STYLE ******/
/** Link Hover Style **/
.nav-link:hover, a:hover{
	color: $white !important; /* To override bootstrap */
}
/** Link Active Style **/
.nav-link:active, a:active {
	color: $lightBlue !important; /* To override bootstrap */
}
/** Span Hover Style **/
span:hover {
	background-color: $babyBlue !important; /* To override bootstrap */
}